.env/
.idea/

#db.sqlite3

__pycache__/
*/__pycache__/

#.pyc
#*.pyc

#.DS_Store
#*.DS_Store

#**/migrations/**
#!**/migrations
#!**/migrations/__init__.py
#*backend/*/migrations/*
#!*backend/*/migrations
#!*backend/*/migrations/__init__.py

#media/*
#!*media